# ============ MOBILE FLUTTER APP ============
# Miscellaneous
mobile_catch_a_ride/*.class
mobile_catch_a_ride/*.log
mobile_catch_a_ride/*.pyc
mobile_catch_a_ride/*.swp
mobile_catch_a_ride/.DS_Store
mobile_catch_a_ride/.atom/
mobile_catch_a_ride/.buildlog/
mobile_catch_a_ride/.history
mobile_catch_a_ride/.svn/

# IntelliJ related
mobile_catch_a_ride/*.iml
mobile_catch_a_ride/*.ipr
mobile_catch_a_ride/*.iws
mobile_catch_a_ride/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
mobile_catch_a_ride/**/doc/api/
mobile_catch_a_ride/**/ios/Flutter/.last_build_id
mobile_catch_a_ride/.dart_tool/
mobile_catch_a_ride/.flutter-plugins
mobile_catch_a_ride/.flutter-plugins-dependencies
mobile_catch_a_ride/.packages
mobile_catch_a_ride/.pub-cache/
mobile_catch_a_ride/.pub/
mobile_catch_a_ride//build/

# Web related
mobile_catch_a_ride/lib/generated_plugin_registrant.dart

# Symbolication related
mobile_catch_a_ride/app.*.symbols

# Obfuscation related
mobile_catch_a_ride/app.*.map.json

# Android Studio will place build artifacts here
mobile_catch_a_ride//android/app/debug
mobile_catch_a_ride//android/app/profile
mobile_catch_a_ride//android/app/release
