<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.wethinkcode.mobile_catch_a_ride">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
